Требования
Проект: «мысль» (thought)
Результат: 
	Каждый владеющий каким-либо подсоединённым к интернету электронным устройством человек на Земле должен получить на свои электронные устройства сообщение «Утвердилось Царствие Небесное на всей Земле.
