Требования
Проект: «мысль» (thought)
Результат: 
	Каждый владеющий каким-либо подсоединённым к интернету электронным устройством человек на Земле должен получить на свои электронные устройства сообщение «Утвердилось Царствие Небесное на всей Земле.
Дополнительно: 
	Здесь есть несколько требующих решения проблем: 1) язык сообщения; 2) технология отправки сообщения, которая предполагает использования широковещательного вещания и особенностей сети; 3) вид связи или сообщения и представление сообщения, что скорее всего склоняет меня к использованию браузера на стороне клиента или же отправление сообщения на электронный кошелёк без зачисления его в спам, можно использовать социальные сети, но и там существуют некоторые проблемы с доставкой; 4) проблема попадания к клиенту минуя все промежуточные сервера; 5) проблема открытия сообщения на стороне клиента для того, чтобы он мог его прочитать; 6) проблема уничтожения сообщения по таймеру или при закрытии окна браузера; 7) проблема с законностью таких действий. Само по себе клиент, получивший сообщение либо просто пропустит его мимо своего внимания, либо предпочтёт узнать об этом больше информации. Ссылок на сайты в сообщении не будет.
